.features{
    padding: 5rem 10rem;
    text-align: center;
    background-color: #77953B;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.row{
    text-align: center;
}

.featuresCard{
    margin: 0 2rem;
    object-fit: fill;
    font-family: 'Montserrat', sans-serif;
}

.featuresCard h1{
    color: #fff;
}

@media screen and (width: 1024px) {
    .features{
        padding: 3rem 1rem;
    }

    .featuresCard h1{
        padding-top: 8px;
        font-size: 1.7rem;
        color: #fff;
    }
    
}

@media screen and (max-width: 960px) {
    .features{
        padding: 3rem 1rem;
    }

    .featuresCard h1{
        padding-top: 8px;
        font-size: 1rem;
        color: #fff;
    }
}

@media screen and (max-width: 479px) {
    .features{
        padding: 3rem 1rem;
        display: block;
    }

    .featuresCard{
        padding: 0 3rem;
        margin-bottom: 2rem;
    }

    .featuresCard h1{
        padding-top: 8px;
        font-size: 1.3rem;
        color: #fff;
    }
}