.footer{
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: #0000;
    padding-top: 45px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    margin-bottom: 20px;
}

.footerContainer{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, auto);

}

.whatsapp{
    border-radius: 5px;
    padding: 6px 12px;
    border: 0;
    background-color: #5FC75A;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.contacts{
    text-align: left;
    color: #000;
    padding-top: 10px;
    font-weight: lighter;
    font-weight: lighter;
}

.mail, .mail a, .mail a:hover{
    margin: 10px 0;
    color: #000;
    text-decoration: none;
}

.links, .links a, .links a:hover{
    text-align: left;
    color: #000;
    text-decoration: none;
    font-size: 10px;
    font-weight: lighter;
    padding-left: 200px;
}

.media{
    text-align: right;
    padding-right: 160px;
}

.download-footer{
    border-radius: 5px;
    padding: 6px 12px;
    border: 0;
    margin: 1% 3% 5% 0;
    background-color: #000;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
}

.socialMedia{
    padding: 10px 10px 0 0;
}

.facebook, .instagram, .twitter{
    color: #000;
    font-size: 1.5rem;
    padding-left: 2.4rem;
}

.copyright, .copyright p{
    background-color: #77953B;
    font-size: 0.8rem;
    padding: 2px;
    margin: 0;
    color: #fff;
    font-weight: lighter;
}

/* Mobile */

@media screen and (max-width: 479px) {
    .footerContainer{
        display: block;
        margin: 1rem;
    }

    .links{
        text-align: left;
        padding: 0 1rem;
    }

    .media{
        padding: 0;
        margin-top: 1.5rem;
        text-align: left;
    }

    .download-footer{
        margin-left: 1rem;
    }

    .socialMedia{
        margin-left: 0rem;
    }

    .facebook{
        padding-left: 1rem;
    }

    .instagram, .twitter{
        padding-left: 2.4rem;
    }
}

/* Tablet */

@media screen and (max-width: 960px) {
    .footerContainer{
        margin: 1rem;
    }

    .links{
        text-align: left;
        padding: 0 1rem;
    }

    .media{
        padding: 0;
        margin-top: 1.5rem;
        text-align: rights;
    }

    .download-footer{
        margin-left: 1rem;
    }

    .socialMedia{
        margin-left: 0rem;
    }

    .facebook{
        padding-left: 1rem;
    }

    .instagram, .twitter{
        padding-left: 2.4rem;
    }
}

/* Laptop-width: 1024px */

@media screen and (width: 1024px) {
    .links{
        padding-left: 1.5rem;
    }

    .media{
        padding-right: 1.5rem;
    }
}